/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,400&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: white;
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(218, 28%, 13%);
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: hidden;
}

section {
    width: 100%;
}

section.intro {
    background: url(./images/bg-curvy-desktop.svg);
    background-color: hsl(217, 28%, 15%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

section.intro .intro-div {
    width: 90%;
    margin: 0 auto;
}

.intro-div .header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px 0;
}

.header .logo {
    width: 70%;
}

.navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    list-style: none;
}

.navigation ul a {
    color: white;
    text-decoration: none;
}

.intro-div .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.hero-section .intro-img {
    width: 50%;
}

.hero-section .intro-text {
    max-width: 600px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.intro-text .title {
    line-height: 2.5rem;
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 400;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro-text .subtitle {
    max-width: 490px;
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 20px;
}

.hero-section .cta {
    color: white;
    border: 0;
    background: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    padding: 10px 70px;
    border-radius: 40px;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
}

.hero-section .cta:hover {
    background: hsl(176, 68%, 64%);
    cursor: pointer;
}

/*Grid System*/
section.grid {
    margin: 40px 0;
}

section.grid .grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 30px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description-header {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.description-note {
    max-width: 320px;
    color: white;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Stay productive section*/

section.productive {
    height: 90vh;
    margin: 40px 0;
}

.flex-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-right {
    justify-self: end;
}

.flex-right h2 {
    max-width: 250px;
    color: white;
    font-size: 1.9rem;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-right p {
    color: white;
    max-width: 450px;
    margin-top: 20px;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-right .mg-bt-20 {
    margin-bottom: 20px;
}

.flex-right a {
    border-bottom: 1px solid hsl(176, 68%, 64%);  
    padding-bottom: 3px;
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.flex-right a img {
    margin-left: 3px;
}

/*Comments section*/

section.comments {
    position: relative;
}

.comment-section {
    width: 90%;
    height: 60vh;           
    margin: 0 auto;
}

.comment-section .grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.comment-section .card{
    padding: 30px;
    background-color: hsl(219, 30%, 18%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.card p {
    color: white;
    max-width: 300px;
}

.card-1 {
    position: relative;
}

.card-1::before {
    content: url(./images/bg-quotes.png);
    position: absolute;
    top: -15%;
    z-index: -1;
}

.users {
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: white;
}

.users img {
    width: 10%;
    border-radius: 50%;
    margin-right: 5px;
}

.users p {
    font-weight: 700;
}

.users small {
    font-weight: 300;
}

.quote {
    position: absolute;
    top: -9%;
    z-index: -1;
}

/*Contact form*/

.overlay {
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 650px;
    height: 250px;
    background: hsl(217, 28%, 15%);
    padding: 30px 50px 50px 50px;
    border-radius: 5px;
    box-shadow: 0 3px 2px 0px hsl(217, 28%, 15%);
}

.overlay .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: white;
    font-family: Raleway;
    font-weight: 700;
}

.overlay .subtitle {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

input[type='text'] {
    width: 60%;
    height: 40px;
    border-radius: 30px;
    padding: 15px;
    border: 0;
    margin: 0 20px;
}

input[type='submit'] {
    width: 30%;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(to left, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color: white;
    font-family: Raleway;
    cursor: pointer;
}

input:focus {
    outline: none;
}

footer {
    background: hsl(216, 53%, 9%);
    height: 70vh;
}


@media screen and (max-width: 768px) {
    .flex-left {
        width: 60%;
        margin-right: 50px;
    }
    .comment-section {
        height: max-content;
        padding-bottom: 30px;
    }
    .comment-section .grid-items {
        display: grid;
        grid-template-columns: minmax(30rem, 1fr);
        gap: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
    }
}

