
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.wrapper {
    width: 100%;
}

.mg-wrap {
    background-color: hsl(218, 28%, 13%);
}

.mg-wrap-1 {
    height: 160vh;
    background: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(217, 28%, 15%);
    background-position: left 105%;
    object-fit: cover;
}

.intro-div {
    width: 90%;
    margin: 0 auto;
}

.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header .logo {
    width: 70%;
}

.navigation {
    width: 30%;
}

.navigation ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.navigation a {
    color: white;
    cursor: pointer;
    text-decoration: none;  
    font-family: Raleway;  
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
.hero-section img {
    width: 50%;
}
.intro-text {
    max-width: 600px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.intro-text .title {
    line-height: 2.5rem;
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 400;
    font-family: Raleway;
}

.intro-text .subtitle {
    max-width: 490px;
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 20px;
}

.cta {
    color: white;
    border: 0;
    background: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    padding: 10px 70px;
    border-radius: 40px;
    font-size: 0.9rem;
    font-weight: 700;
}

/*Grid Section*/

.grid-section {
    width: 70%;
    height: 90vh;
    margin: 0 auto;
}

.grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grid-item {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-item .intro-icon {
    width: 15%;
}

.description-header {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Raleway;
    font-size: 1rem;
}

.description-note {
    max-width: 370px;
    color: white;
    font-family: 'Open Sans';
}

/*Stay productive section*/

.mg-wrap-full {
    height: 150vh;
    position: relative;
}

.flex-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    margin-right: 50px;
}

.flex-right h2 {
    max-width: 250px;
    color: white;
    font-size: 1.9rem;
    font-family: Raleway;
}

.flex-right p {
    color: white;
    max-width: 450px;
    margin-top: 20px;
    font-family: 'Open Sans';
}

.flex-right .mg-bt-20 {
    margin-bottom: 20px;
}

.flex-right a {
    border-bottom: 1px solid hsl(176, 68%, 64%);  
    padding-bottom: 3px;
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.flex-right a img {
    margin-left: 3px;
}

/*Comment section */

.comment-section {
    width: 90%;
    margin: 0 auto;
}

.comment-section .grid-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 100px;
}

.comment-section .card{
    padding: 30px;
    background-color: hsl(219, 30%, 18%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.card p {
    color: white;
    max-width: 300px;
}

.users {
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: white;
}

.users img {
    width: 10%;
    border-radius: 50%;
    margin-right: 5px;
}

.users p {
    font-weight: 700;
}

.users small {
    font-weight: 300;
}

/*Form section*/

.overlay {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 650px;
    height: 250px;
    background: hsl(217, 28%, 15%);
    padding: 30px 50px 50px 50px;
    border-radius: 5px;
    box-shadow: 0 3px 2px 0px hsl(217, 28%, 15%);
}

.overlay .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: white;
    font-family: Raleway;
    font-weight: 700;
}

.overlay .subtitle {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

input[type='text'] {
    width: 60%;
    height: 40px;
    border-radius: 30px;
    padding: 15px;
    border: 0;
    margin: 0 20px;
}

input[type='submit'] {
    width: 30%;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(to left, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color: white;
    font-family: Raleway;
    cursor: pointer;
}

input:focus {
    outline: none;
}

/*Footer section*/

footer {
    background: hsl(216, 53%, 9%);
    height: 70vh;
}